<div class="blabla">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/home" (click)="clickMe()">Logout</button>
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" routerLink="/user">User<span class="sr-only"></span></a>
        </li>
      </ul>



    </form>
  </nav>
</div>


Your username: {{username}}<br>
Your email: {{email}}<br>
Your id: {{id}}<br>
